body{
    background-color: rgb(116, 160, 145);
    margin: 0;
    padding: 0;
}

.wlcm{
    margin-top: 80px;
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.name{
    margin:60px 0 0 35% ;
    
    width: 30%;
    height: 40px;
}

.Button{
    margin-top: 10px;
    margin-left: 55%;
}

.url{
    background-color: aquamarine;
    font-weight: bold;
    text-align: center;
}